# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Get Strated - these can be solved using basic comparisons and methods
* Lvl 1 - these may involve if/then conditional statements and simple methods
* Lvl 2 - these may require iterating over sequences, usually with some kind of loop

## Get Started:

#### LESSER OF EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_evens(2,4) --> 2
    lesser_of_evens(2,5) --> 5

In [1]:
def lesser_of_evens(a,b):
    if a and b %2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Test
lesser_of_evens(2,4)

2

In [3]:
# Test
lesser_of_evens(2,5)

5

#### Initials: Write a function takes a two-word string and returns True if both words begin with same letter
    initial('Larry Lemman') --> True
    initial('Bob Jackson') --> False

In [4]:
def initial(text):
    word_list = text.lower().split()
    return word_list[0][0] == word_list[1][0]

In [5]:
# Test
initial('Larry Lemman')

True

In [6]:
# Test
initial('Bob Jackson')

False

#### TwenT: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    twenT(20,10) --> True
    twenT(12,8) --> True
    twenT(2,3) --> False

In [7]:
def twenT(n1,n2):
    return bool(n1 + n2 == 20 or n1 == 20 or n2 == 20)

In [8]:
# Test
twenT(20,10)

True

In [9]:
# Test
twenT(2,3)

False

# LVL 1 PROBLEMS

#### CHECK MAC: Write a function that capitalizes the first and fourth letters of a name
     
    check_mac('macduff') --> MacDuff
    
Note: `'macduff'.capitalize()` returns `'Macduff'`

In [10]:
def check_mac(name):
    a,b = name.split("c",1)
    return a.capitalize()+'c'+ b.capitalize()

In [11]:
# Test
check_mac('macclain')

'MacClain'

#### REWIND_IT: Given a sentence, return a sentence with the words reversed

    rewind_it('How are you') --> 'you are How'
    rewind_it('Go to shop') --> 'shop to Go'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [12]:
def rewind_it(text):
    return " ".join(text.split()[::-1])

In [13]:
# Test
rewind_it('How are you')

'you are How'

In [14]:
# Test
rewind_it('Go to shop')

'shop to Go'

#### TEN OUT: Given an integer n, return True if n is within 10 of either 100 or 200

    ten_out(90) --> True
    ten_out(104) --> True
    ten_out(150) --> False
    ten_out(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [15]:
def ten_out(n):
    return 90<= n <=110 or 190 <= n <= 210

In [16]:
# Test
ten_out(104)

True

In [17]:
# Test
ten_out(150)

False

In [18]:
# Test
ten_out(209)

True

# LVL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    find_33([1, 3, 3]) → True
    find_33([1, 3, 1, 3]) → False
    find_33([3, 1, 3]) → False

In [19]:
def find_33(nums):
    return '33' in ''.join([str(i) for i in nums])

In [20]:
# Test
find_33([1, 3, 3])

True

In [21]:
# Test
find_33([1, 3, 1, 3])

False

In [22]:
# Test
find_33([3, 1, 3])

False

#### Letter Up: Given a string, return a string where for every character in the original there are three characters
    letter_up('Hello World') --> 'HHHeeellllllooo   WWWooorrrlllddd'
    letter_up('Django') --> 'DDDjjjaaannngggooo'

In [23]:
def letter_up(text):
    return ''.join([i*3 for i in text])

In [24]:
# Test
letter_up('Hello World')

'HHHeeellllllooo   WWWooorrrlllddd'

In [25]:
# Test
letter_up('Django')

'DDDjjjaaannngggooo'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [26]:

def blackjack(a,b,c):
    
    if max(a,b,c) <= 11 and sum([a,b,c]) <=21:
        return sum([a,b,c])
    elif sum([a,b,c]) > 21 and (11 in [a,b,c]):
        return sum([a,b,c])-[a,b,c].count(11)*10
    else:
        return "BUST"

In [27]:
# Test
blackjack(5,6,7)

18

In [28]:
# Test
blackjack(9,9,9)

'BUST'

In [29]:
# Test
blackjack(9,9,11)

19

#### Check outside of 6 to 9: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    checker_69([1, 3, 5]) --> 9
    checker_69([4, 5, 6, 7, 8, 9]) --> 9
    checker_69([2, 1, 6, 9, 11]) --> 14

In [30]:
def checker_69(arr):
    if 6 and 9 not in arr:
        return sum(arr)
    else:
        for i,n in enumerate(arr):
            if n == 6:
                p1 = i
            if n == 9:
                p2 = i+1
        return sum(arr)-sum(arr[p1:p2])

In [31]:
# Test
checker_69([1, 3, 5])

9

In [32]:
# Test
checker_69([4, 5, 6, 7, 8, 9])

9

In [33]:
# Test
checker_69([2, 1, 6, 9, 11])

14